@model IEnumerable<List>
@{
    ViewData["Title"] = "Index - Books";
    bool IsAdmin = Util.IsAdmin<IEnumerable<List>>(this);
}

<div class="text-center">
    <p>
        <a asp-action="Create" class="btn btn-primary">Create</a>
    </p>
    <div class="grid-container">
        @foreach (List list in Model)
        {
            <div class="entry">
                <span><strong>@list.Id</strong> by <strong>@list.Owner</strong></span>
                <span>Contains @list.Books.Count() items with @list.Subscribers.Count() subscribers.</span>
                <br>
                <a asp-action="View" asp-route-ID="@list.Id" class="btn btn-primary">View</a>
                @if (IsAdmin)
                {
                    <a asp-action="Edit" asp-route-ID="@list.Id" class="btn btn-primary">Edit</a>
                    <a asp-action="Delete" asp-route-ID="@list.Id" class="btn btn-primary">Delete</a>
                }
                <a asp-action="Subscribe" asp-route-ID="@list.Id" class="btn btn-primary">Subscribe</a>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
