@using Microsoft.IdentityModel.Tokens
@model List
@{
    ViewData["Title"] = "Index - Books";
    bool IsAdmin = Util.IsAdmin<List>(this);
}

<div class="text-center">
    <p><strong>@Model.Id</strong> by <strong>@Model.Owner</strong></p>
    <div class="grid-container">
        @foreach (Book book in Model.Books)
        {
            <div class="entry">
                <table>
                    <tr>
                        <td>
                            <img src="@book.CoverImage" width="150px">
                        </td>
                        <td>
                            <h3 class="book-header">@book.Title</h3>
                            <p>ISBN: @book.Id</p>
                            <span>
                                <strong>Authors</strong>
                                <ul class="author-list">
                                    @foreach (string author in book.Authors)
                                    {
                                        <li>@author</li>
                                    }
                                </ul>
                            </span>

                            <p>Publication Year: @book.PublicationYear</p>
                            <p>Genre: @book.Genre</p>
                        </td>
                    </tr>
                    @if (IsAdmin)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Book" asp-action="Edit" asp-route-ID="@book.Id"
                                    class="btn btn-primary">Edit</a>
                            </td>
                            <td>
                                <a asp-controller="Book" asp-action="Delete" asp-route-ID="@book.Id"
                                    class="btn btn-primary">Delete</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        }
    </div>
    <div>
        @if (!CollectionUtilities.IsNullOrEmpty(Model.Subscribers))
        {
            <h4>Subscribers</h4>
            <ul>
                @foreach (string subscriber in Model.Subscribers)
                {
                    <li>@subscriber</li>
                }
            </ul>
        }
        else
        {
            <h4>This list has no subscribers.</h4>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
